<!doctype html>
<html lang="zh-TW">
	<head>

	<!-- Meta 各種資訊 -->
		<%= render partial: "/erb/sys_meta" %>
	<!-- Meta 結束 -->

	<!-- Title 網站標題 -->
		<%= render partial: "/erb/sys_title" %>
	<!-- Title 結束 -->

	<!-- Icon 小圖示 -->
		<%= render partial: "/erb/sys_icon" %>
	<!-- Icon 結束 -->
	
	<!-- Script 程式 -->
		<% if( $js ) %>
			<%= render partial: "/erb/sys_script" %>
		<% end %>
	<!-- Script 結束 -->

	</head>
	<body data-js="false" data-admin="false" data-lang="1"><form action="#" method="POST">

	<% if( $js ) %>
		<script>document.body.setAttribute("data-js", "true");</script>
	<% end %>

	<!-- Css 樣式表 -->
		<%= render partial: "/erb/sys_style" %>
	<!-- Css 結束 -->

	<!-- sys-root 拖曳根節點 -->
		<div class="group sys-root" id="sys-root" data-type="<%= $row %>" data-child="3" data-type="<%= $row %>" data-child="3" data-nojs="您的瀏覽器似乎不支援 JavaScript 語法，但沒關係，這並不會影響到內容的陳述。如需要選擇適合您的字級大小，可利用鍵盤 Ctrl + (+)放大 (-)縮小。如需要回到上一頁，可使用瀏覽器提供的 Alt + 左方向鍵(←)。如需要列印，可利用鍵盤 Ctrl + p 使用瀏覽器提供的列印功能。" data-func="{'datePicker':{}}"><div class="in">
			<div class="ct"><div class="in">

			<!-- base-mobile 行動載具-->
				<%= render partial: "/erb/base-mobile", locals: set({ index: 1 }) %>
			<!-- base-mobile 結束 -->

			<!-- base-extend 額外資訊 -->
				<%= render partial: "/erb/base-extend", locals: set({ index: 2 }) %>
			<!-- base-extend 結束 -->

			<!-- base-wrapper 固定佈局 -->
				<%= render partial: "/erb/base-wrapper", locals: set({ index: 3, area: "index" }) %>
			<!-- base-wrapper 結束 -->

			</div></div>
		</div></div>
	<!-- sys-root 結束 -->

		<% if( $js ) %>
			<script src="/js/require.js"></script>
			<script >
				requirejs.config({
					baseUrl: window.location.origin + '/js'
				});

				requirejs(['main'], function(func){ //執行主程式
					func();
				});
			</script>
		<% end %>

		<%= livereload_js %>
	</form></body>
</html>
