<%
	min_li = 1 #最少的li數量
	max_li = 10 #最多的li數量

	li_length = (min_li..max_li).to_a.sample

	img = lorem_image('640x320')
%>


<div class="area-customize video-list <% if class_set %><%= class_set %><% end %>" data-index="<%= index %>" data-type="<%= $module %>" <% if func_set %> data-func="<%= func_set %>"<% end %> ><div class="in">
	<% if header_text %>
		<div class="hd"><div class="in">
			<h4><span><a href="#"><%= header_text %></a></span></h4>
		</div></div>
	<% end %>
	<div class="ct"><div class="in">
		<div class="div">
			<div class="video">
				<!-- <video controls>
					<source src="/video/sample/sample.webm" type="video/webm">
					<source src="/video/sample/sample.ogv" type="video/ogg">
					<source src="/video/sample/sample.mp4" type="video/mp4">
					<object classid="CLSID:22D6f312-B0F6-11D0-94AB-0080C74C7E95" type="application/x-oleobject" codebase="http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#Version=6,4,7,1112">
						<param name="filename" value="/video/sample/sample.swf" />
						<param name="Showcontrols" value="true" />
						<param name="autoStart" value="false" />
					</object>
					<span>您的瀏覽器不支援 html5 撥放器，請<a href="#">下載媒體</a>於本機播放。</span>
				</video> -->
				<iframe src="https://www.youtube.com/embed/jO66_VQRHP4" frameborder="0" allowfullscreen height="500"></iframe>
			</div>
			<div class="essay">
				<div class="caption"><span><%= zh_lorem_sentence %></span></div>
				<div class="label"><ul><li><span><i class="mark"><%= lorem_word %></i></span></li></ul></div>
				<div class="p">
					<p><span><%= zh_lorem_paragraph %></span></p>
				</div>
			</div>
		</div>
		<div class="list"><ul><% li_length.times do |i| %><li>
				<a href="#" class="div">
					<div class="img"><span style="background-image: url('<%= img %>')"><img src="<%= img %>" alt=""></span></div>
					<div class="essay">
						<div class="figcaption"><span><%= lorem_word %></span></div>
						<div class="p">
							<p><span><%= zh_lorem_paragraph %></span></p>
						</div>
						<div class="label"><ul><li><span><i class="mark"><%= lorem_word %></i></span></li></ul></div>
					</div>
				</a>
			</li><% end %></ul></div>
	</div></div>
	<div class="ft"><div class="in"><ul data-index="1" data-child="1"><li data-index="1" class="more"><span><a href="#">更多</a></span></li></ul></div></div>
</div></div>