<div class="area-editor error-info <% if class_set %><%= class_set %><% end %>" data-index="<%= index %>" data-type="<%= $module %>" <% if func_set %> data-func="<%= func_set %>"<% end %> ><div class="in">
	<% if header_text %>
		<div class="hd"><div class="in">
			<h4><span><a href="#"><%= header_text %></a></span></h4>
		</div></div>
	<% end %>
	<div class="ct"><div class="in">
		<p>親愛的網友 您好：<br />
		您的連結可能出現錯誤，請 <a href="#">重新設定</a>，造成您的不便，敬請見諒。</p>

		<p>Sorry. Please check one more time that your website address has been entered correctly.
		You can also back to Previous <a href="#">page</a> or <a href="#">Index</a></p>
	</div></div>
</div></div>