<div class="area-editor address <% if class_set %><%= class_set %><% end %>" data-index="<%= index %>" data-type="<%= $module %>" <% if func_set %> data-func="<%= func_set %>"<% end %> ><div class="in">
	<% if header_text %>
		<div class="hd"><div class="in">
			<h4><span><a href="#"><%= header_text %></a></span></h4>
		</div></div>
	<% end %>
	<div class="ct"><div class="in">
		高雄總公司地址：<span class="map">806高雄市前鎮區民權二路8號18樓</span><br />
		高雄總公司電話：FAX：+886-7-5364899<br />
		台北辦事處地址：<span class="map">100台北市中正區北平西路3號3樓3004室</span><br />
		台北辦事處電話：FAX: +886-2-2388917<br />
		Copyright © 2014 HAMASTAR Technology Co., Ltd. All rights reserved. 建議瀏覽解析度1024x 768
	</div></div>
</div></div>