<%
	min_paragraph = 2 #最少的段落
	max_paragraph = 6 #最多的段落

	paragraph_length = (min_paragraph..max_paragraph).to_a.sample
%>

<div class="area-editor user-edit <% if class_set %><%= class_set %><% end %>" data-index="<%= index %>" data-type="<%= $module %>" <% if func_set %> data-func="<%= func_set %>"<% end %> ><div class="in">
	<% if header_text %>
		<div class="hd"><div class="in">
			<h4><span><a href="#"><%= header_text %></a></span></h4>
		</div></div>
	<% end %>
	<div class="ct"><div class="in">

		<% paragraph_length.times do |i| %>
			<p><%= zh_lorem_paragraph %></p>
		<% end %>
	</div></div>
</div></div>