<div class="area-customize recitation <% if class_set %><%= class_set %><% end %>" data-index="<%= index %>" data-type="<%= $module %>" <% if func_set %> data-func="<%= func_set %>"<% end %> ><div class="in">
	<% if header_text %>
		<div class="hd"><div class="in">
			<h4><span><a href="#"><%= header_text %></a></span></h4>
		</div></div>
	<% end %>
	<div class="ct"><div class="in">
		<div id="media"><div><img src="http://tts.itri.org.tw//TTScript/images/playing.png" id="loading1469669391735" width="32" height="32"></div></div>
	</div></div>
</div></div>