<%
	img = lorem_image('640x480')
%>

<div class="area-figure page-figure <% if class_set %><%= class_set %><% end %>" data-index="<%= index %>" data-type="<%= $module %>" <% if func_set %> data-func="<%= func_set %>"<% end %> ><div class="in">
	<% if header_text %>
		<div class="hd"><div class="in">
			<h4><span><a href="#"><%= header_text %></a></span></h4>
		</div></div>
	<% end %>
	<div class="ct"><div class="in">
		<a href="#" class="div">
			<div class="img"><span style="background-image: url('<%= img %>')"><img src="<%= img %>" alt=""></span></div>
			<div class="essay">
				<div class="figcaption"><span><%= zh_lorem_sentence %></span></div>
				<div class="label"><ul><li><span><i class="mark"><%= lorem_word %></i></span></li></ul></div>
				<div class="p">
					<p><span><%= zh_lorem_paragraph %></span></p>
				</div>
			</div>
		</a>
	</div></div>
</div></div>