<div class="group base-aside" id="base-aside" data-index="<%= index %>" data-type="<%= $row %>" data-child="2"><div class="in">
	<div class="ct"><div class="in">

	<!-- accesskey 導盲磚 -->
		<%= render partial: "/erb/simple-text_accesskey", locals: set({ access_key: "L", access_title: "左方次要連結區，此區塊列有本網站的次要連結", header_text: "導盲磚" }) %>
	<!-- accesskey 結束 -->

	<!-- nav 選單 -->
		<%= render partial: "/erb/group-list_nav", locals: set({ index: 1, class_set: "is-pad-hide is-phone-hide", func_set: "{'majorNavStraight':{}}", header_text: "主選單", inner: "/erb/list-text_nav" }) %>
	<!-- nav 結束 -->

	<!-- minor-nav 次選單 -->
		<%= render partial: "/erb/list-text_minor-nav", locals: set({ index: 2, class_set: "is-pad-hide is-phone-hide", header_text: "次選單" }) %>
	<!-- minor-nav 結束 -->

	</div></div>
</div></div>