<div class="group base-header" id="base-header" data-index="<%= index %>" data-type="<%= $row %>" data-child="2"><div class="in">
	<div class="ct"><div class="in">

		<!-- hot-key-word 熱門關鍵字 -->
			<%= render partial: "/erb/list-text_hot-key-word", locals: set({ index: 3, header_text: "熱門關鍵字" }) %>
		<!-- hot-key-word 結束 -->

		<!-- search 搜尋 -->
			<%= render partial: "/erb/area-form_search", locals: set({ index: 4, func_set: "{'showDataList':{}}", header_text: "搜尋" }) %>
		<!-- search 結束 -->

		<!-- share 分享 -->
			<%= render partial: "/erb/list-text_share", locals: set({ index: 1, header_text: "分享" }) %>
		<!-- share 結束 -->
	
	</div></div>
</div></div>