<div class="list-text share <% if class_set %><%= class_set %><% end %>" data-index="<%= index %>" data-type="<%= $module %>" <% if func_set %> data-func="<%= func_set %>"<% end %> ><div class="in">
	<% if header_text %>
		<div class="hd"><div class="in">
			<h4><span><a href="#"><%= header_text %></a></span></h4>
		</div></div>
	<% end %>
	<div class="ct"><div class="in"><ul data-index="1" data-child="6"><li class="facebook" data-index="1"><span><a href="http://www.facebook.com/share.php?u=網址" target="_blank" title="分享至 Facebook">Facebook</a></span></li><li class="google" data-index="2"><span><a href="https://plus.google.com/share?url=網址" target="_blank" title="分享至 google+">Google</a></span></li><li class="twitter" data-index="3"><span><a href="http://twitter.com/home?status=主題-網址" target="_blank" title="分享至 twitter">Twitter</a></span></li><li class="plurk" data-index="5"><span><a href="http://www.plurk.com/?qualifier=shares&status=主題-網址" target="_blank" title="分享至 plurk">plurk</a></span></li><li class="line" data-index="5"><span><a href="http://line.naver.jp/R/msg/text/?主題-網址" target="_blank" title="分享至 Line">Line</a></span></li><li class="email" data-index="6"><span><a href="mailto:?subject=主題&body=網址" target="_blank" title="透過 mail 分享">E-mail</a></span></li></ul></div></div>
</div></div>