<div class="list-multiple page-select <% if class_set %><%= class_set %><% end %>" data-index="<%= index %>" data-type="<%= $module %>" <% if func_set %> data-func="<%= func_set %>"<% end %> ><div class="in">
	<% if header_text %>
		<div class="hd"><div class="in">
			<h4><span><a href="#"><%= header_text %></a></span></h4>
		</div></div>
	<% end %>
	<div class="ct"><div class="in"><ul data-index="1" data-child="2"><li data-index="1" class="first"><span><a href="#">最前頁</a></span></li><li data-index="2" class="prev"><span><a href="#">上一頁</a></span></li></ul><ul data-index="2" data-child="2"><li data-index="1" class="next"><span><a href="#">下一頁</a></span></li><li data-index="2" class="last"><span><a href="#">最後頁</a></span></li></ul><ul data-index="3" data-child="3"><li data-index="1">
				<span class="select">
					<label>第 </label>
					<select>
						<option selected>1</option>
					</select>
					<label> 頁</label>
				</span>
			</li><li data-index="2">
				<span class="number">
					<label>，顯示 </label>
					<input type="number" min="1" max="999" value="20">
					<label> 筆</label>
				</span>
			</li><li data-index="3">
				<span class="count">，共 275 頁</label>
			</li></ul></div></div>
</div></div>