<div class="list-text user-tool <% if class_set %><%= class_set %><% end %>" data-index="<%= index %>" data-type="<%= $module %>" <% if func_set %> data-func="<%= func_set %>"<% end %> ><div class="in">
	<% if header_text %>
		<div class="hd"><div class="in">
			<h4><span><a href="#"><%= header_text %></a></span></h4>
		</div></div>
	<% end %>
	<div class="ct"><div class="in"><ul data-index="1" data-child="9"><!-- <li data-index="1" class="login"><span><a href="#">登入</a></span></li><li data-index="2" class="logout"><span><a href="#">登出</a></span></li><li data-index="3" class="edit"><span><a href="#">編輯</a></span></li><li data-index="4" class="nav-edit"><span><a href="#">選單編輯</a></span></li><li data-index="5" class="index-edit"><span><a href="#">首頁編輯</a></span></li><li data-index="6" class="article-edit"><span><a href="#">文章編輯</a></span></li><li data-index="7" class="data"><span><a href="#">詮釋資料</a></span></li> --><li data-index="1" class="print"><span><a href="#">列印</a></span></li><li data-index="2" class="bopomofo"><span><a href="#">注音</a></span></li></ul></div></div>
</div></div>