<%
	min_li = 2 #最少的li數量
	max_li = 8 #最多的li數量

	li_length = (min_li..max_li).to_a.sample
	random = rand( li_length )
%>

<div class="list-text sitemap <% if class_set %><%= class_set %><% end %>" data-index="<%= index %>" data-type="<%= $module %>" <% if func_set %> data-func="<%= func_set %>"<% end %> ><div class="in">
	<% if header_text %>
		<div class="hd"><div class="in">
			<h4><span><a href="#"><%= header_text %></a></span></h4>
		</div></div>
	<% end %>
	<div class="ct"><div class="in"><ul data-index="1" data-child="<%= li_length %>"><% li_length.times do |i| %><li data-index="<%= i + 1 %>"><span><a href="#"><%= lorem_word %></a></span></li><% end %></ul></div></div>
</div></div>