<div class="list-text font-size <% if class_set %><%= class_set %><% end %>" data-index="<%= index %>" data-type="<%= $module %>" <% if func_set %> data-func="<%= func_set %>"<% end %> ><div class="in">
	<% if header_text %>
		<div class="hd"><div class="in">
			<h4><span><a href="#"><%= header_text %></a></span></h4>
		</div></div>
	<% end %>
	<div class="ct"><div class="in"><ul data-index="1" data-child="3"><li data-index="1" class="small"><span><a href="#">小</a></span></li><li data-index="2" class="medium"><span><a href="#">中</a></span></li><li data-index="3" class="large"><span><a href="#">大</a></span></li></ul></div></div>
</div></div>
