<div class="list-text jump-tool <% if class_set %><%= class_set %><% end %>" data-index="<%= index %>" data-type="<%= $module %>" <% if func_set %> data-func="<%= func_set %>"<% end %> ><div class="in">
	<% if header_text %>
		<div class="hd"><div class="in">
			<h4><span><a href="#"><%= header_text %></a></span></h4>
		</div></div>
	<% end %>
	<div class="ct"><div class="in"><ul data-index="1" data-child="3"><li data-index="1" class="back"><span><a href="#">回上一頁</a></span></li><li class="to-top" data-index="2"><span><a href="#">回最上面</a></span></li><li data-index="3" class="home"><span><a href="#">HOME</a></span></li></ul></div></div>
</div></div>