<%
	min_li = 4 #最少的li數量
	max_li = 10 #最多的li數量

	li_length = (min_li..max_li).to_a.sample
%>

<div class="list-pic page-block <% if class_set %><%= class_set %><% end %>" data-index="<%= index %>" data-type="<%= $module %>" <% if func_set %> data-func="<%= func_set %>"<% end %> ><div class="in">
	<% if header_text %>
		<div class="hd"><div class="in">
			<h4><span><a href="#"><%= header_text %></a></span></h4>
		</div></div>
	<% end %>
	<div class="ct"><div class="in"><ul data-index="1" data-child="<%= li_length %>"><% li_length.times do |i| %>
				<%
					img = lorem_image('1024x360')
					title = zh_lorem_sentence
					alt = zh_lorem_sentence
				%>

				<li data-index="<%= i + 1 %>" data-src="<%= img %>" data-sub-html="<h4><%= title %></h4><p><%= alt %></p>"><span style="background-image: url('<%= img %>')"><a href="#"><i class="mark"><%= lorem_word %></i><img src="<%= img %>" alt=""></a></span></li><% end %></ul></div></div>
	<div class="ft"><div class="in"><ul data-index="1" data-child="1"><li data-index="1" class="more"><span><a href="#">更多</a></span></li></ul></div></div>
</div></div>