<div class="list-text open-data <% if class_set %><%= class_set %><% end %>" data-index="<%= index %>" data-type="<%= $module %>" <% if func_set %> data-func="<%= func_set %>"<% end %> ><div class="in">
	<% if header_text %>
		<div class="hd"><div class="in">
			<h4><span><a href="#"><%= header_text %></a></span></h4>
		</div></div>
	<% end %>
	<div class="ct"><div class="in"><ul data-index="1" data-child="4"><li data-index="1" class="rss"><span><a href="#">RSS</a></span></li><li data-index="2" class="json"><span><a href="#">JSON</a></span></li><li data-index="3" class="xml"><span><a href="#">XML</a></span></li><li data-index="4" class="csv"><span><a href="#">CSV</a></span></li></ul></div></div>
</div></div>