<div class="simple-text query <% if class_set %><%= class_set %><% end %>" data-index="<%= index %>" data-type="<%= $module %>" <% if func_set %> data-func="<%= func_set %>"<% end %> ><div class="in">
	<% if header_text %>
		<div class="hd"><div class="in">
			<h4><span><a href="#"><%= header_text %></a></span></h4>
		</div></div>
	<% end %>
	<div class="ct"><div class="in">
		<span><%= zh_lorem_sentence %></span>
	</div></div>
	<div class="ft"><div class="in"><ul data-index="1" data-child="1"><li data-index="1" class="allow"><span><a href="#">是</a></span></li><li data-index="2" class="deny"><span><a href="#">否</a></span></li><li data-index="3" class="close"><span><a href="#">關閉</a></span></li></ul></div></div>
</div></div>